<div class="sidebar" [ngClass]="{'sidebar--open': sidebarOpen, 'sidebar--closed': !sidebarOpen}">
  <div class="sidebar-title">
    <a class="sidebar-title__arrow" href="#" (click)="sidebarOpen = !sidebarOpen; $event.preventDefault()">
      <i [ngClass]="{'fa-angle-double-right': sidebarOpen, 'fa-angle-double-left': !sidebarOpen}"
          class="fa fa-th" aria-hidden="true">
      </i>
    </a>
    <ng-container *ngIf="sidebarOpen">Properties</ng-container>
  </div>
  <ng-container *ngIf="sidebarOpen && node">
    <a class="sidebar__external-system-link" [href]="node | nodeExternalUrl" target="_blank">
      <!-- *ngIf is used because it should only tooltip on long UIDs -->
      <h2 *ngIf="(node.display_name.split(' ') | slice:-1)[0].length > 30; else shortUid" tooltip="{{ (node.display_name.split(' ') | slice:-1)[0] }}">
        {{ (node.display_name.split(' ') | slice:-1)[0] | truncate: 30 }}
      </h2>
      <ng-template #shortUid>
        <h2>{{ (node.display_name.split(' ') | slice:-1)[0] }}</h2>
      </ng-template>
    </a>
    <table class="sidebar-properties">
      <tbody>
        <tr class="sidebar-properties__row" *ngFor="let prop of properties; let i = index">
          <td class="sidebar-properties__key-column">{{ prop.name | propertyDisplay }}</td>
          <td class="sidebar-properties__value-column">
            <ng-container *ngIf="prop.truncate; else noTruncate">
              <ng-container *ngIf="prop.link; else regularProp">
                <a [routerLink]="prop.link">{{ prop.value }}</a>
              </ng-container>
              <ng-template #regularProp>
                {{ prop.value | truncate }}
              </ng-template>
            </ng-container>
            <ng-template #noTruncate>{{ prop.value }}</ng-template>
            <ng-container *ngIf="prop.needsTruncating">
              <a class="sidebar-properties__truncate-arrow" (click)="prop.truncate = !prop.truncate; $event.preventDefault()"
                  *ngIf="prop.needsTruncating" href="#">
                <i [ngClass]="{'fa-angle-down': prop.truncate, 'fa-angle-up': !prop.truncate}" class="fa fa-th" aria-hidden="true"></i>
              </a>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
