#sidebar {
    background-color: #FFFFFF;
    position: absolute;
    top: 50px;
    right: 0px;
    min-height: 100%;
    z-index: 1;
    transition: width 0.5s;
    box-sizing: border-box;
    border-left: 2px solid #A9A9A9;
}

#sidebar.open {
    width: 100%;
}

#sidebar.closed {
    width: 25px;
}

#sidebarTitle {
    border-bottom: 2px solid #A9A9A9;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
}

#sidebarTitle i {
    font-size: 2rem;
}

#sidebar.open #sidebarTitle i {
    margin-right: 0.5rem;
}

#sidebarTitle a {
    color: #363636;
    outline: 0;
    text-decoration: none;
}

#sidebar > a > h3 {
    font-weight: bold;
    margin-left: 10px;
}

#sidebarProperties {
    margin: 2rem 1rem 3rem 1rem;
    padding-right: 1rem;
}

#sidebarProperties > div.sidebarPropertiesRow {
    display: table-row;
    font-size: 1.3rem;
}

#sidebarProperties > div.sidebarPropertiesRow > div {
    display: table-cell;
    word-break: break-all;
}

#sidebarProperties > div.sidebarPropertiesRow > div:nth-child(odd) {
    padding-right: 10px;
    font-weight: bold;
    white-space: nowrap;
}

@media (min-width: 992px) {
    #sidebar {
        top: 62px;
    }

    #sidebar.open {
        width: 40%;
        max-width: 750px;
    }

    #sidebar.closed {
        width: 30px;
    }

    #sidebarProperties > div.sidebarPropertiesRow > div:nth-child(odd) {
        padding-right: 1.5rem;
    }
}
