<div id="sidebar" [ngClass]="{'open': sidebarOpen, 'closed': !sidebarOpen}">
  <div id="sidebarTitle">
    <a href="#" (click)="sidebarOpen = !sidebarOpen; $event.preventDefault()">
      <i [ngClass]="{'fa-angle-double-right': sidebarOpen, 'fa-angle-double-left': !sidebarOpen}"
          class="fa fa-th" aria-hidden="true">
      </i>
    </a>
    <ng-container *ngIf="sidebarOpen">Properties</ng-container>
  </div>
  <ng-container *ngIf="sidebarOpen && node">
    <a [href]="node | nodeExternalUrl" target="_blank">
      <h3>{{ node | nodeUidDisplay }}</h3>
    </a>
    <table id="sidebarProperties">
      <tbody>
        <tr *ngFor="let prop of properties; let i = index" class="sidebarPropertiesRow">
          <td>{{ prop.name | propertyDisplay }}</td>
          <td>
            <ng-container *ngIf="prop.truncate">{{ prop.value | truncate }}</ng-container>
            <ng-container *ngIf="!prop.truncate">{{ prop.value }}</ng-container>
            <ng-container *ngIf="prop.needsTruncating">
              <a (click)="prop.truncate = !prop.truncate; $event.preventDefault()" *ngIf="prop.needsTruncating" href="#" class="truncateArrow">
                <i [ngClass]="{'fa-angle-down': prop.truncate, 'fa-angle-up': !prop.truncate}" class="fa fa-th" aria-hidden="true"></i>
              </a>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
