/* ----- Blocks ----- */
:host {
    color: #6A6C6F;
}

.sidebar {
    background-color: #FFFFFF;
    /* Position the sidebar on the right side of the page */
    position: absolute;
    top: 52px;
    right: 0px;
    /* 100% height minus the navbar height */
    min-height: calc(100% - 50px);
    /* Have the sidebar be on top of all other elements */
    z-index: 1;
}

.sidebar-title {
    font-size: 1.6rem;
    font-weight: 600;
    /* Give some space around the arrow and "Properties" */
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.sidebar-properties {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    padding-right: 1rem;
}

/* ----- Elements ----- */
.sidebar > * {
    margin-left: 2.5rem;
}

.sidebar-title__arrow {
    /* Remove some of the default styles on the arrow */
    outline: 0;
    text-decoration: none;
    color: #6A6C6F;
}

.sidebar__external-system-link > h2 {
    /* This makes the h2 be on the same line as the wrapping anchor */
    display: inline-block;
    font-weight: bold;
}

.sidebar-properties__row {
    font-size: 1.3rem;
}

.sidebar-properties__row > td {
    word-break: break-all;
    padding-bottom: 0.5rem;
}

.sidebar-properties__key-column {
    /* If the value to the right is more than one line, don't vertically center the key */
    vertical-align: top;
    /* Create some space between the key and the value */
    padding-right: 1rem;
    /* Ensure all keys are on their own line and */
    white-space: nowrap;
}

.sidebar-properties__value-column {
    /* Bold the values in the table */
    font-weight: bold;
}

.sidebar-properties__truncate-arrow {
    /* Create some space between the text and the truncate arrow */
    margin-left: 0.5rem;
}

@media (min-width: 992px) {
    .sidebar > * {
        margin-left: 3rem;
    }

    .sidebar-properties {
        margin-right: 2rem;
    }

    .sidebar-properties__key-column {
        padding-right: 2rem;
    }
}

/* ----- Modifiers ----- */
.sidebar--open {
    width: 100%;
}

.sidebar--closed > * {
    /* When the sidebar is closed, make the arrow closer to the edge */
    margin-left: 0.75rem;
}

.sidebar--open .sidebar-title i {
    /* Push "Properties" to the right 1rem */
    margin-right: 1rem;
}
