#navLogo {
    margin-top: 0.25rem;
}

#navLogo img {
    /* Make the logo smaller */
    height: 42.5px;
}

#navLogoTitle {
    font-size: 2rem;
    color: white;
    margin-left: 1.5rem;
    margin-top: 0.7rem;
}

@media (max-width: 768px) {
    .navbar-header {
        /* Override the default of -20px */
        margin-left: -5px;
        margin-right: 5px;
    }
}

@media (min-width: 992px) {
    nav.navbar {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #navLogo {
        margin-top: 0rem;
    }

    #navLogo img {
        height: 50px;
    }

    #navLogoTitle {
        font-size: 2.25rem;
    }
}
