/* A hack that fixes an overflowing page in mobile view */
.container-fluid > .navbar-header {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

nav.navbar {
    background-color: #282d33;
}

.navbar-brand {
    color: #efefef;
    font-weight: 600;
    font-size: 1.5rem;
}

#brandPipeline {
    color: #282d33;
    background-color: #efefef;
    margin-left: 1rem;
    padding: 1.5px 10px 1.5px 10px;
}

.navbar-right {
    /* Don't show the right logo in mobile view */
    display: none;
}

#brandRightLogo {
    height: 30px;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .navbar-right {
        display: initial;
    }

    nav > div.container-fluid {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (min-width: 992px) {
    nav > div.container-fluid {
        padding-left: 7.5rem;
        padding-right: 7.5rem;
    }
}
