.recent-title{
    margin-left:6rem;
    padding-top:2rem;
    font-size:4rem
}

.recent-tabs{
    padding-left:6rem;
    padding-top:3rem;
}

.recent-table{
    margin-left: -6rem !important;
    margin-top: -2rem !important;
}