<app-spinner [loading]="loading"></app-spinner>
<app-navbar></app-navbar>

<div class="recent-table-container" *ngIf="!loading">
  <div class="recent-title">Recent Artifacts</div>
  <div>
    <!-- <tabset>
      <tab heading="Basic title" id="tab1"> -->
        <table class="table table-hover recent-table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Type</th>
              <th scope="col">ID</th>
              <th scope="col">Timestamp</th>
            </tr>
          </thead>
          <tbody class="recent-items">
            <div *ngFor="let type of types">
              <tr class="recent-item-row" *ngFor="let item of recentsAll[type]">
                <td class="data data-icon"><i class="fa fa-bug" aria-hidden="true"></i></td>
                <td class="data data-type">{{ item['type'] }}</td>
                <td class="data">{{ item['id'] }}</td>
                <td class="data">Updated at: {{ item['timestamp'] }}</td>
              </tr>
            </div>
          </tbody>
        </table>
      <!-- </tab>
      <tab heading="Basic Title 1">Basic content 1</tab>
      <tab heading="Basic Title 2">Basic content 2</tab>
    </tabset> -->
  </div>

</div>