/* ----- Blocks ----- */
.estuary-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 2.5rem;
}

.estuary-table-container {
    /* Setting this to display as inline-block will cause it to grow with the table */
    display: inline-block;
    /* We want the container to only go as large as the container it is inside */
    max-width: 100%;
    min-width: 300px;
}

/* A wrapper around the table for when it gets too wide */
.estuary-table-responsive {
    overflow-x: auto;
    white-space: nowrap;
    /* Remove the default border provided by Bootstrap */
    border: none;
}


.title {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* This div contains the "Show Columns" button. It is positioned in the DOM outside of
   div.estuary-table-responsive, otherwise, it will cause a vertical scroll bar to appear
   on short tables when the "Show Columns" button is expanded. */
.estuary-table-header {
    display: flex;
    background-color: #ffffff;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
}

.estuary-table-header > div:last-child {
    margin-left: auto;
}

.estuary-table {
    margin: 0;
    font-size: 110%;
}

@media (min-width: 992px) {
    .estuary-container {
        padding-left: 5rem;
        padding-right: 5rem;
        margin-bottom: 5rem;
    }

    .title {
        margin-top:5rem;
        margin-bottom: 3rem;
    }

    .estuary-table-container {
        min-width: 640px;
    }
}


/* ----- Elements ----- */
.estuary-table-header__dropdown-button, .open > .estuary-table-header__dropdown-button,
.estuary-table-header__dropdown-button:active {
    /* Override the colors default to Bootstrap */
    color: #363636;
    background-color: #ffffff;
    background-image: none;
}

.open > .estuary-table-header__dropdown-button {
    /* When the dropdown menu is open, don't round the bottom of the "Show Columns" button */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.estuary-table-header__dropdown-button {
    font-size: 115%;
    /* Make the "Show Columns" button bigger */
    padding: 0.75rem 0.75rem 0.75rem 1rem;
    border: 0.5px solid #8c8d8f;
    border-radius: 3px;
    box-shadow: none;
}

.estuary-table-header__dropdown-button i {
    /* Give some space between the "Show Columns" text and the arrow icon on the button */
    padding-left: 2.5rem;
}

.estuary-table-header__dropdown-menu {
    padding-top: 2rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    width: 250px;
    /* Add scrolling to the dropdown menu */
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.estuary-table-header__dropdown-menu li {
    font-size: 125%;
    padding-bottom: 1rem;
}

.estuary-table-header__dropdown-menu input {
    margin-right: 0.75rem;
}

.estuary-table-header__columns-text {
    /* Position this a little below where it normally is so it is centered with the button  */
    margin-left: 1.5rem;
    color: #8c8d8f;
    font-size: 115%;
}

.estuary-table-header__columns-text-ending {
    /* Don't display the export to CSV button on mobile */
    display: none;
}

.estuary-table-header__export-btn {
    /* Don't display the export to CSV button on mobile */
    display: none;
}

.estuary-table-header__num-elements {
    /* Don't display the num of elements on mobile */
    display: none;
}

.estuary-table td, .estuary-table th {
    border: none;
    padding: 1rem;
}

.estuary-table th {
    border-top: 1.5px solid #F2F2F2 !important;
    border-bottom: 1.5px solid #F2F2F2 !important;
}

.estuary-table th:hover {
    /* Make it seem like a link when hovering on the table header to let the user know they can sort */
    cursor: pointer;
    text-decoration: underline;
}

.estuary-table__sort-icon {
    padding-left: 0.5rem;
    /* Since the element is present in every column but the class that determines the icon
       is only active on sorted columns, we must set a constant width of the icon element
       so that the table columns don't shift when the arrow appears/disappears  */
    width: 15px;
}

.estuary-table thead {
    /* Patternfly has a gradient background, so this removes it */
    background-image: none;
    font-size: 115%;
}

.estuary-table thead, .estuary-table tbody {
    font-weight: 600;
    /* Set a background color on the table so that it doesn't blend with the background */
    background-color: #ffffff;
}

@media (min-width: 992px) {
    .estuary-table-header__columns-text-ending {
        display: initial;
    }

    .estuary-table-header__export-btn {
        display: initial;
        margin-left: 3rem;
        font-size: 110%;
        padding: 0.3rem 1.5rem 0.3rem 1.5rem;
        border-radius: 5rem;
        border: none;
        background-color: #0088ce;
        color: #ffffff;
    }

    .estuary-table-header__export-btn:hover {
        background-color: #00659c;
    }

    .estuary-table-header__export-btn:focus {
        outline: none;
    }

    .estuary-table-header__num-elements {
        display: initial;
    }

    .estuary-table {
        /* Set the minimum width of the table to roughly that of div.estuary-table-header */
        min-width: 500px;
    }

    .estuary-table tr td:first-child, .estuary-table tr th:first-child {
        padding-left: 2rem;
    }

    .estuary-table tr td:last-child, .estuary-table tr th:last-child {
        padding-right: 2rem;
    }
}
