<app-spinner [loading]="loading"></app-spinner>
<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="diagram" id="js-diagram">
    <ng-container *ngIf="story">
      <app-storyrow [node]="node" [relatedNodes]="story.meta.story_related_nodes[i]" [last]="last"
          [active]="node === selectedNode" *ngFor="let node of story.data; let i = index; let last = last">
      </app-storyrow>
    </ng-container>
  </div>
</div>

<app-storysidebar [node]="selectedNode"></app-storysidebar>

<app-alert [(errorMsg)]="errorMsg"></app-alert>
