<app-spinner [loading]="loading"></app-spinner>
<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="diagram" id="js-diagram">
    <ng-container *ngIf="story">
      <app-storyrow [node]="node" [backwardSiblings]="story.meta.story_related_nodes_backward[i]"
          [forwardSiblings]="story.meta.story_related_nodes_forward[i]" [last]="last"
          [active]="node === selectedNode" (error)="onChildError($event)"
          *ngFor="let node of story.data; let i = index; let last = last">
      </app-storyrow>
    </ng-container>
  </div>
</div>

<app-storysidebar [node]="selectedNode"></app-storysidebar>

<app-alert [(errorMsg)]="errorMsg"></app-alert>
