:host {
    display: table-row;
    color: #6A6C6F;
}

:host > div {
    display: table-cell;
    /* Leave a large vertical gap between nodes */
    padding-bottom: 6rem;
}

div.mainItemText {
    word-wrap: break-word;
    text-align: right;
    /* Leave a gap next to the main node */
    padding-right: 1.5rem;
}

div.mainItem {
    /* Leave a decent gap between the main node and the siblings */
    padding-right: 5rem;
}

div.secondaryItem {
    /* Leave a small gap between the siblings and the "x more" text  */
    padding-right: 1.25rem;
}

div.mainItem > div:hover {
    /* Make the mouse look like a pointer so the user intuitively knows they can click on the shape */
    cursor: pointer;
    outline: 0;
    /* Add a thin border when hovering over the node */
    border: 3px solid #0088cc;
    /* Hides the shadow effect of node's SVG while it is being bordered */
    background-color: #FFFFFF;
}

div.mainItem > div:active img, div.mainItem > div:hover img {
    /* Hides the shadow effect of node's SVG while it is being bordered */
    opacity: 0;
}

div.mainItem > div {
    width: 68px;
    height: 66px;
    text-align: center;
    /* Round the div for highlighting */
    border-radius: 50%;
    /* Add a margin-left to center with the active node to compensate for its border that makes it larger */
    margin-left: 2px;
}

div.mainItem > div.active {
    /* Add a blue border on the node that the user queried for */
    border: 5px solid #0088cc;
    /* Also make the text blue */
    color: #0088cc;
    /* Because of the CSS "box-sizing: border-box;" we must increase the size to compensate for the border */
    width: 72px;
    height: 70px;
    /* Reset the margin-left since the other nodes are shifted to the right to compensate for the larger active node  */
    margin-left: 0;
    /* Hides the shadow effect of node's SVG while it is being bordered */
    background-color: #FFFFFF;
}

div.secondaryItemText {
    /* Don't show the "x more" text on mobile */
    display: none;
}

div.mainItemText, div.secondaryItemText {
    position: relative;
    /* Vertically center the text */
    top: 5px;
}

div.mainItem > div, div.secondaryItem > div {
    /* Make the position relative so that the icons can be absolutely positioned within it */
    position: relative;
}

div.mainItem > div > img, div.secondaryItem > div > img {
    /* Make the images take up the whole div that has a fixed size */
    height: 100%;
}

div.mainItemIconContainer, div.secondaryItemIconContainer {
    /* Make the icons larger */
    font-size: 2.25rem;
    position: absolute;
    /* Place the icon halfway down the circle */
    top: 50%;
    /* Move the icon half its size up and to the left */
    transform: translate(-50%, -50%);
}

div.mainItemIconContainer {
    /* Place the icon halfway to the left of the circle */
    left: 50%;
}

div.secondaryItemIconContainer {
    /* Place the icon roughly a third to the left of the circle */
    left: 36.6%;
}

div.secondaryItem > div {
    width: 96px;
    height: 66px;
}

/* Roughly a small phone in landscape mode */
@media (min-width : 550px) {
    div.secondaryItemText {
        /* Display the "x more" text */
        display: block;
    }
}
