<p class="mainItemIcon">
  <i class="fa fa-th {{ getNodeIconClass() }}" aria-hidden="true"></i>
  <span>{{ getNodeDisplayName() }}</span>
</p>
<div class="mainItemText">{{ getNodeUID() }}</div>
<div class="mainItem">
  <div [appPlumbConnect]="prevNodeIDs" id="{{ node.resource_type }}Primary" class="{{ nodeShape + 'Item' }}"></div>
</div>
<div class="secondaryItem">
  <div *ngIf="relatedNodes" [appPlumbConnect]="prevNodeIDs" id="{{ node.resource_type }}Secondary" class="{{ nodeShape + 'Item' }}"></div>
</div>
<p *ngIf="relatedNodes" class="secondaryItemText">{{ relatedNodes + ' more' }}</p>
