<div class="node-uid-column story-row-column">
  <div class="node-display-name">{{ node.display_name | nodeDisplayName | truncate: 30 }}</div>
  <div class="node-timestamp" *ngIf="node.timeline_timestamp; else noTimestamp">
    {{ node.timeline_timestamp | date: 'MMM d, y, HH:mm:ss':'+0000' }} UTC
  </div>
  <ng-template class="node-timestamp" #noTimestamp>No timestamp information available</ng-template>
</div>
<div class="node-column story-row-column">
  <!-- `container="body"` is used to attach the tooltip to the body instead of the parent div. This
       is used becuase the parent div constrains the width of the tooltip. -->
  <div id="{{ 'js-' + node.resource_type.toLowerCase() + '-node' }}"
       class="node-column__node"
       [ngClass]="{'node-column__node--active': active}"
       [routerLink]="['/', node.resource_type.toLowerCase(), getNodeUid()]"
       tooltip="{{ node.resource_type | nodeTypeDisplay }} {{ node.display_name | nodeDisplayName }}"
       container="body">
    <img class="node-column__node-img" src="assets/circle_single.svg" />
    <div class="node-column__node-icon">
      <i [ngClass]="iconClasses" aria-hidden="true"></i>
    </div>
  </div>

  <!-- If gatingBadgeLink is set, then wrap the gatingBadge template with a link, otherwise just
       show the icons as is -->
  <ng-container *ngIf="gatingBadgeLink !== null; else gatingBadge">
    <a [routerLink]="gatingBadgeLink">
      <ng-container *ngTemplateOutlet="gatingBadge"></ng-container>
    </a>
  </ng-container>

  <ng-template #gatingBadge>
    <!-- Add a gating status badge. This uses icon layering since using a circle check mark directly would
        make the checkmark portion transparent, which is not desired. -->
    <span *ngIf="gatingStatus.loading || gatingStatus.statusName"
          @easeInOut
          [tooltip]="gatingStatus.summary"
          container="body"
          class="fa-layers fa-fw node-column__node-gating-badge disabled">
      <fa-icon [icon]="faCircle" [ngClass]="gatingStatus.iconClass"></fa-icon>
      <fa-icon [icon]="gatingStatus.icon" [spin]="gatingStatus.loading" class="gating-badge-icon"></fa-icon>
    </span>
  </ng-template>
</div>
<div class="node-siblings-column node-siblings-backward-column story-row-column" *ngIf="backwardSiblings">
  <div id="{{ 'js-' + node.resource_type.toLowerCase() + '-backward-siblings' }}" class="node-siblings-column__siblings"
      tooltip="{{ node.resource_type | nodeTypeDisplay | nodeTypePlural }} related with the primary artifact above"
      [routerLink]="backwardSiblingsRouterLink" [queryParams]="backwardSiblingsRouterParams">
    <img class="node-siblings-column__siblings-img" src="assets/circle_multi.svg" />
    <div class="badge siblings-badge node-siblings-column__badge">+{{ backwardSiblings }}</div>
    <div class="node-siblings-column__node-icon">
      <i [ngClass]="iconClasses" aria-hidden="true"></i>
    </div>
  </div>
</div>
<div class="node-siblings-column node-siblings-forward-column story-row-column" *ngIf="forwardSiblings">
  <div id="{{ 'js-' + node.resource_type.toLowerCase() + '-forward-siblings' }}" class="node-siblings-column__siblings"
      tooltip="{{ node.resource_type | nodeTypeDisplay | nodeTypePlural }} related with the primary artifact below"
      [routerLink]="forwardSiblingsRouterLink" [queryParams]="forwardSiblingsRouterParams">
    <img class="node-siblings-column__siblings-img" src="assets/circle_multi.svg" />
    <div class="badge siblings-badge node-siblings-column__badge">+{{ forwardSiblings }}</div>
    <div class="node-siblings-column__node-icon">
      <i [ngClass]="iconClasses" aria-hidden="true"></i>
    </div>
  </div>
</div>
