<p class="mainItemIcon">
  <i class="fa fa-th {{ getNodeIconClass(nodeType) }}" aria-hidden="true"></i>
  <span>{{ getNodeDisplayName(nodeType) }}</span>
</p>
<div class="mainItemText">{{ getNodeUID(nodeType) }}</div>
<div class="mainItem">
  <div [appPlumbConnect]="prevNodeIDs" id="{{ nodeType }}Primary" class="{{ nodeShape + 'Item' }}"></div>
</div>
<div class="secondaryItem">
  <div *ngIf="nodes.length >= 2" [appPlumbConnect]="prevNodeIDs" id="{{ nodeType }}Secondary" class="{{ nodeShape + 'Item' }}"></div>
</div>
<p *ngIf="nodes.length >= 2" class="secondaryItemText">{{ (nodes.length - 1) + ' more' }}</p>
