:host {
    display: table-row;
}

:host > div {
    display: table-cell;
    padding-bottom: 6rem;
}

div.mainItemText {
    word-wrap: break-word;
    text-align: right;
    padding-right: 1.5rem;
}

div.mainItem {
    padding-right: 5rem;
}

div.secondaryItem {
    padding-right: 1.25rem;
}

div.mainItem > div:hover {
    cursor: pointer;
    background-color: #D7E5EA;
    outline: 0;
}

div.secondaryItemText {
    /* Don't show the "x more" text on mobile */
    display: none;
}

div.mainItemText, div.secondaryItemText {
    position: relative;
    top: 13px;
}

div.mainItem > div, div.secondaryItem > div {
    height: 66px;
    width: 66px;
    border: 3px solid black;
    border-radius: 50%;
    text-align: center;
}

div.secondaryItem > div {
    border: 3px dashed black;
}

div.mainItem > div.active {
    border-color: #5B96A9;
    background-color: #D7E5EA;
}

div.mainItem > div > i, div.secondaryItem > div > i {
    font-size: 2.5rem;
    position: relative;
    top: 18px;
}

/* Roughly a small phone in landscape mode */
@media (min-width : 550px) {
    div.secondaryItemText {
        display: block;
    }
}
