/* ----- Blocks ----- */
.siblings-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 2.5rem;
}

/* A wrapper around the table for when it gets too wide */
.siblings-table-responsive {
    overflow-x: auto;
    white-space: nowrap;
    /* Remove the default border provided by Bootstrap */
    border: none;
}

/* A wrapper around the table to create the section above the table for the "Show Columns" button to go */
.siblings-table-wrapper {
    background-color: #ffffff;
    display: inline-block;
    padding-top: 8rem; 
}

.title {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* This div contains the "Show Columns" button. It is positioned in the DOM outside of
   div.siblings-table-responsive, otherwise, it will cause a vertical scroll bar to appear
   on short tables when the "Show Columns" button is expanded. */
.siblings-table-header {
    /* Make the width 100% minus the padding used by div.siblings-container */
    width: calc(100% - 3rem);
    /* Make the position absolute so the header is positioned on top of the padding-top of
       div.siblings-table-wrapper */
    position: absolute;
    margin-left: 2rem;
    margin-top: 2.4rem;
}

.siblings-table {
    margin: 0;
    /* Set the minimum width of the table to roughly that of div.siblings-table-header */
    min-width: 350px;
    font-size: 110%;
}

.modal-link {
    color: #363636;
}

.modal-link:hover {
    color: #363636;
    text-decoration: underline;
}

@media (min-width: 992px) {
    .siblings-container {
        padding-left: 5rem;
        padding-right: 5rem;
        margin-bottom: 5rem;
    }

    .title {
        margin-top:5rem;
        margin-bottom: 3rem;
    }

    .siblings-table-header {
        /* Make the width 100% minus the padding used by div.siblings-container */
        width: calc(100% - 10rem);
    }
}


/* ----- Elements ----- */
.siblings-table-header__btn-group {
    /* A small hack to make the button vertically centered with the text o the line */
    position: relative;
    top: -3px;
}

.siblings-table-header__dropdown-button, .open > .siblings-table-header__dropdown-button,
.siblings-table-header__dropdown-button:active {
    /* Override the colors default to Bootstrap */
    color: #363636;
    background-color: #ffffff;
    background-image: none;
}

.open > .siblings-table-header__dropdown-button {
    /* When the dropdown menu is open, don't round the bottom of the "Show Columns" button */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.siblings-table-header__dropdown-button {
    font-size: 115%;
    /* Make the "Show Columns" button bigger */
    padding: 0.75rem 0.75rem 0.75rem 1rem;
    border: 0.5px solid #8c8d8f;
    border-radius: 3px;
    box-shadow: none;
}

.siblings-table-header__dropdown-button i {
    /* Give some space between the "Show Columns" text and the arrow icon on the button */
    padding-left: 2.5rem;
}

.siblings-table-header__dropdown-menu {
    padding-top: 2rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    width: 250px;
    /* Add scrolling to the dropdown menu */
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.siblings-table-header__dropdown-menu li {
    font-size: 125%;
    padding-bottom: 1rem;
}

.siblings-table-header__dropdown-menu input {
    margin-right: 0.75rem;
}

.siblings-table-header__columns-text {
    /* Position this a little below where it normally is so it is centered with the button  */
    display: inline-block;
    margin-left: 1.5rem;
    color: #8c8d8f;
    font-size: 115%;
}

.siblings-table td, .siblings-table th {
    border: none;
    padding: 1rem;
}

.siblings-table th {
    border-top: 1.5px solid #F2F2F2 !important;
    border-bottom: 1.5px solid #F2F2F2 !important;
}

.siblings-table th:hover {
    /* Make it seem like a link when hovering on the table header to let the user know they can sort */
    cursor: pointer;
    text-decoration: underline;
}

.siblings-table__sort-icon {
    padding-left: 0.5rem;
    /* Since the element is present in every column but the class that determines the icon
       is only active on sorted columns, we must set a constant width of the icon element
       so that the table columns don't shift when the arrow appears/disappears  */
    width: 15px;
}

.siblings-table thead {
    /* Patternfly has a gradient background, so this removes it */
    background-image: none;
    font-size: 115%;
}

.siblings-table thead, .siblings-table tbody {
    font-weight: 600;
    /* Set a background color on the table so that it doesn't blend with the background */
    background-color: #ffffff;
}

@media (min-width: 992px) {
    .siblings-table tr td:first-child, .siblings-table tr th:first-child {
        padding-left: 2rem;
    }

    .siblings-table tr td:last-child, .siblings-table tr th:last-child {
        padding-right: 2rem;
    }
}
