/* ----- Icon Definitions ----- */
@font-face {
    font-family: 'estuary-icons';
    src:  url('assets/fonts/estuary-icons.eot');
    src:  url('assets/fonts/estuary-icons.eot#iefix') format('embedded-opentype'),
          url('assets/fonts/estuary-icons.ttf') format('truetype'),
          url('assets/fonts/estuary-icons.woff') format('woff'),
          url('assets/fonts/estuary-icons.svg#estuary-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
[class^="estuary-icon-"], [class*=" estuary-icon-"] {
    /* Defaults from IcoMoon */
    /* Use !important to prevent issues with browser extensions that change fonts */
    font-family: 'estuary-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.estuary-icon-commit:before {
    content: "\e901";
}

.estuary-icon-freshmaker:before {
    content: "\e900";
}

.estuary-icon-module:before {
    content: "\e902";
}

div.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}

html {
    /* This is so that the sidebar can properly use height 100% */
    min-height: 100%;
    position: relative;
}

body {
    background-color: #F2F2F2;
}

@media (min-width: 600px) {
    /* At this point, the search sidebar transitions to covering 50% of the screen,
    so the background becomes visible */
    body.searchBg {
        background-image: url(assets/mountain.png);
        background-position: 50% bottom;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-color: #484e51;
    }
}

@media (min-width: 1200px) {
    /* At this point, the search sidebar sets a static width of 600px, so the background needs to
    shift over 600px instead of 50% */
    body.searchBg {
        background-position: 600px bottom;
    }
}
