<div class="search">
  <div>
    <h3 class="brand__text">RED HAT <span class="brand__text--highlight">PIPELINE</span></h3>
  </div>

  <h1 class="search__title">Red Hat Release Pipeline</h1>
  <h1 class="search__subtitle">Visualization Tool</h1>

  <h3 class="search__explanation">Select an artifact to get started.</h3>

  <div class="search-form">
    <select [(ngModel)]="selectedResource" class="search-select">
      <option *ngFor="let resource of availableResources" [value]="resource.name" class="search-option">
        {{ resource.displayName }}
      </option>
    </select>

    <input (keyup.enter)="navigateToStory()" [(ngModel)]="selectedUID" class="search-input" type="text" required
        placeholder="Enter an identifier">

    <button (click)="navigateToStory()" id="searchButton" class="btn btn-info btn--lg-rounded" type="button">
      Show Story
    </button>
  </div>
</div>

<img class="watermark" src="assets/redhat_logo.png" />
