/* Create the left sidebar */
#searchContainer {
    /* Take up the whole screen in portrait mobile mode */
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    min-height: 100%;
    position: absolute;
    top: 0px;
    background-color: #000000;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#searchContainer > * {
    margin-left: 2.5rem;
}

#searchContainer {
    color: #efefef;
}

#logoText > h3 {
    font-size: 150%;
    font-weight: 600;
    margin-bottom: 5rem;
}

#logoSubText {
    margin-left: 1rem;
    padding: 1.5px 10px 1.5px 10px;
    color: #000000;
    background-color: #efefef;
}

#title, #subtitle {
    font-size: 230%;
    font-weight: 600;
}

#title {
    margin-bottom: 0.5rem;
}

#subtitle {
    margin-top: 0;
}

#helpText {
    font-size: 130%;
    margin-top: 2.5rem;
    color: #efefef;
}

#searchForm {
    margin-top: 5rem;
}

#searchForm > select, #searchForm > input {
    /* Stack the form elements in mobile view */
    display: block;
    /* Make the form elements have the same width when stacked in mobile view */
    width: 200px;
    margin-top: 1rem;
    font-size: 120%;
    /* Don't show an outline on the element when it is focused */
    outline: 0;
    height: 30px;
    background-color: #000000;
    border: 0.25px solid #777777;
}

#searchForm > select {
    padding-left: 7.5px;
    margin-right: 1rem;
    /* Workaround to replace the ugly arrow in Firefox */
    -moz-appearance: none;
    appearance: none;
    background-image: url("/assets/arrowdown.svg");
    background-repeat: no-repeat;
    background-size: 7.5px;
    background-position: calc(100% - 7.5px) center;
    padding-right: 25px;
}

#searchForm > select > option {
    background-color: #F8F8F8;
    color: #363636;
}

#searchForm > input {
    padding-left: 0.75rem;
    /* Animate the highlight effect */
    transition: all 0.30s ease-in-out;
}

#searchForm > input:focus {
    /* Highlight the input border when the user clicks on it */
    box-shadow: 0 0 5px #00659c;
    border: 0.25px solid #00659c;
}

#searchForm > button {
    display: block;
    /* Don't show an outline on the element when it is focused */
    outline: 0;
    font-size: 120%;
    margin-top: 3rem;
    /* Make the button bigger and curved */
    border-radius: 2rem;
    padding: 2.5px 22px 2.5px 22px;
}

#redHatLogo {
    /* Don't display the Red Hat logo in mobile view since there isn't enough room */
    display: none;
}

@media (min-width: 500px) {
    /* Only take up half the screen in landscape mobile mode and higher */
    #searchContainer {
        width: 50%;
    }
}

@media (min-width: 992px) {
    #searchContainer > * {
        margin-left: 5rem;
    }

    #logoText > h3 {
        margin-bottom: 8rem;
    }

    #searchForm > select, #searchForm > input {
        display: inline-block;
        width: auto;
    }

    /* Display the Red Hat logo in the top right corner */
    #redHatLogo {
        display: initial;
        position: absolute;
        right: 5rem;
        top: 5.25rem;
        height: 3rem;
    }
}
