<div id="searchContainer">
  <div id="logoText">
    <h3>RED HAT <span id="logoSubText">PIPELINE</span></h3>
  </div>
  <h1 id="title">Red Hat Release Pipeline</h1>
  <h1 id="subtitle">Visualization Tool</h1>

  <h3 id="helpText">Select an artifact to get started.</h3>
  <div id="searchForm" *ngIf="availableResources">
    <select [(ngModel)]="selectedResource" id="resourceSelector">
      <option *ngFor="let resource of availableResources | keys" [value]="resource">
        {{ resource | nodeTypeDisplay }}
      </option>
    </select>
    <input (keyup.enter)="navigateToStory()" [(ngModel)]="selectedUID" type="text" required
        placeholder="{{ selectedResource | nodeTypeDisplay }} {{ availableResources[selectedResource] | propertyDisplay }}">
    <button (click)="navigateToStory()" id="searchButton" class="btn btn-info" type="button">
      Show Story
    </button>
  </div>
</div>

<img id="redHatLogo" src="assets/redhat_logo.png" />

<app-alert [(errorMsg)]="errorMsg"></app-alert>
